{% if site.themesetting.katex %}
<script src="{{ "/js/katex_init.js" | prepend: site.baseurl }}"></script>
{% endif %}

{% if site.themesetting.footer_text %}
<footer class="site-footer">
	<p class="text">{{ site.themesetting.footer_text }}</p>
	<br/>
		<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
		<div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="es_ES" data-type="vertical" data-theme="dark" data-vanity="aguilar-anthony-ve"><a class="LI-simple-link" href='https://ar.linkedin.com/in/aguilar-anthony-ve?trk=profile-badge'>Anthony Aguilar</a></div>
<br/>
	<!--a href="https://stackoverflow.com/users/1931605/shan-khan">
<img src="https://stackoverflow.com/users/flair/1931605.png?theme=clean" width="208" height="58" alt="profile for Anthony Aguilar at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Anthony Aguilar at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
</a-->
	</footer>
{% endif %}
