{% if site.themesetting.rss %}
<li>
	<a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" title="{{ site.themesetting.str_rss_follow }}">
		<i class="fa fa-fw fa-rss"></i>
	</a>
</li>
{% endif %}

{% if site.themesetting.email_address %}
<li>
	<a href="mailto:{{ site.themesetting.email_address }}" title="{{ site.themesetting.str_email }}">
		<i class="fa fa-fw fa-envelope"></i>
	</a>
</li>
{% endif %}

{% if site.themesetting.behance %}
<li>
	<a href="https://www.behance.net/{{ site.themesetting.behance }}" title="{{ site.themesetting.str_follow_on }} Behance">
		<i class="fa fa-fw fa-behance"></i>
	</a>
</li>
{% endif %}

{% if site.themesetting.bitbucket %}
<li>
	<a href="https://bitbucket.org/{{ site.themesetting.bitbucket }}" title="{{ site.themesetting.str_follow_on }} Bitbucket">
		<i class="fa fa-fw fa-bitbucket"></i>
	</a>
</li>
{% endif %}

{% if site.themesetting.dribbble %}
<li>
	<a href="https://dribbble.com/{{ site.themesetting.dribbble }}" title="{{ site.themesetting.str_follow_on }} Dribbble">
		<i class="fa fa-fw fa-dribbble"></i>
	</a>
</li>
{% endif %}

{% if site.themesetting.facebook %}
<li>
	<a href="https://www.facebook.com/{{ site.themesetting.facebook }}" title="{{ site.themesetting.str_follow_on }} Facebook">
		<i class="fa fa-fw fa-facebook"></i>
	</a>
</li>
{% endif %}

{% if site.themesetting.flickr %}
<li>
	<a href="https://www.flickr.com/photos/{{ site.themesetting.flickr }}" title="{{ site.themesetting.str_follow_on }} Flickr">
		<i class="fa fa-fw fa-flickr"></i>
	</a>
</li>
{% endif %}

{% if site.themesetting.github %}
<li>
	<a href="https://github.com/{{ site.themesetting.github }}" title="{{ site.themesetting.str_follow_on }} GitHub">
		<i class="fa fa-fw fa-github"></i>
	</a>
</li>
{% endif %}

{% if site.themesetting.google_plus %}
<li>
	<a href="https://plus.google.com/{{ site.themesetting.google_plus }}" title="{{ site.themesetting.str_follow_on }} Google+">
		<i class="fa fa-fw fa-google-plus"></i>
	</a>
</li>
{% endif %}

{% if site.themesetting.instagram %}
<li>
	<a href="http://instagram.com/{{ site.themesetting.instagram }}" title="{{ site.themesetting.str_follow_on }} Instagram">
		<i class="fa fa-fw fa-instagram"></i>
	</a>
</li>
{% endif %}

{% if site.themesetting.linkedin %}
<li>
	<a href="{{ site.themesetting.linkedin }}" title="{{ site.themesetting.str_follow_on }} LinkedIn">
		<i class="fa fa-fw fa-linkedin"></i>
	</a>
</li>
{% endif %}

{% if site.themesetting.pinterest %}
<li>
	<a href="http://www.pinterest.com/{{ site.themesetting.pinterest }}" title="{{ site.themesetting.str_follow_on }} Pinterest">
		<i class="fa fa-fw fa-pinterest"></i>
	</a>
</li>
{% endif %}

{% if site.themesetting.reddit %}
<li>
	<a href="https://www.reddit.com/user/{{ site.themesetting.reddit }}" title="{{ site.themesetting.str_follow_on }} Reddit">
		<i class="fa fa-fw fa-reddit"></i>
	</a>
</li>
{% endif %}

{% if site.themesetting.soundcloud %}
<li>
	<a href="https://soundcloud.com/{{ site.themesetting.soundcloud }}" title="{{ site.themesetting.str_follow_on }} SoundCloud">
		<i class="fa fa-fw fa-soundcloud"></i>
	</a>
</li>
{% endif %}

{% if site.themesetting.stack_exchange %}
<li>
	<a href="{{ site.themesetting.stack_exchange }}" title="{{ site.themesetting.str_follow_on }} Stack Exchange">
		<i class="fa fa-fw fa-stack-exchange"></i>
	</a>
</li>
{% endif %}

{% if site.themesetting.steam %}
<li>
	<a href="http://steamcommunity.com/id/{{ site.themesetting.steam }}" title="{{ site.themesetting.str_follow_on }} Steam">
		<i class="fa fa-fw fa-steam"></i>
	</a>
</li>
{% endif %}

{% if site.themesetting.tumblr %}
<li>
	<a href="http://{{ site.themesetting.tumblr }}.tumblr.com/" title="{{ site.themesetting.str_follow_on }} Tumblr">
		<i class="fa fa-fw fa-tumblr"></i>
	</a>
</li>
{% endif %}

{% if site.themesetting.twitter %}
<li>
	<a href="https://twitter.com/{{ site.themesetting.twitter }}" title="{{ site.themesetting.str_follow_on }} Twitter">
		<i class="fa fa-fw fa-twitter"></i>
	</a>
</li>
{% endif %}

{% if site.themesetting.wordpress %}
<li>
	<a href="https://{{ site.themesetting.wordpress }}.wordpress.com/" title="{{ site.themesetting.str_follow_on }} WordPress">
		<i class="fa fa-fw fa-wordpress"></i>
	</a>
</li>
{% endif %}

{% if site.themesetting.youtube %}
<li>
	<a href="https://www.youtube.com/user/{{ site.themesetting.youtube }}" title="{{ site.themesetting.str_follow_on }} YouTube">
		<i class="fa fa-fw fa-youtube"></i>
	</a>
</li>
{% endif %}
